{% extends "base_generic.html" %}

{% block content %}
    <h1>Tableau de Bord de {{ user.first_name }} {{ user.last_name }}</h1>
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">Abonnement</div>
              <div class="card-body">
                {% if sub_state is None %}
                    <p>Vous n'avez pas d'abonnement</p>
                    <a href="{% url 'library_app:subscribe'%}" class="btn btn-outline-success btn-sm" role="button">Souscrire</a>
                {% else %}
                    <p>Votre abonnement est {{sub_state}}.</p>
                    <p>Date de fin : {{subscription.ending_date}}</p>
                    <p>Prix de l'abonnement : {{price}}</p>
                    <a href="{% url 'library_app:subscribe'%}" class="btn btn-outline-success btn-sm" role="button">Renouveler</a>
                {% endif %}
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Solde</div>
              <div class="card-body">
                <p>Votre solde est de : {{solde}}€</p>
                {% if solde is 0 %}
                {% else %}
                <form method="POST" action ="{% url 'library_app:board'%}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-sm">Régler votre solde</button>
                </form>
                {% endif %}
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Liste des emprunts</h2>
            <p><em>Pour rappel, vous ne pouvez pas emprunter plus de 3 livres et 2 revues simultanément.</em></p>

            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date d'emprunt</th>
                    <th scope="col">Date de Fin</th>
                    <th scope="col">Retourné</th>
                  </tr>
                </thead>
                <tbody>
                  {% for borrowing in borrowings %}
                  <tr>
                    <td>{{ borrowing.reference.name }}</td>
                    <td>{{ borrowing.reference.author }}</td>
                    <td>{{ borrowing.reference.get_ref_type_display }}</td>
                    <td>{{ borrowing.beginning_date }}</td>
                    <td>{{ borrowing.ending_date }}</td>
                    {% if borrowing in not_returned_borrowings %}
                      <td><i class="fas fa-times-circle" style="color:red"></i></td>
                    {% else %}
                      <td><i class="fas fa-check-circle" style="color:green"></i></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}