{% if references|length_is:"0" %}
    <div class="text-center">
      Cette bibliothèque est vide.
    </div>

{% else %}
<div class="card card-body">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Type</th>
        <th scope="col">Disponibilité</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for ref in references %}
      <tr>
        <td>{{ ref.name }}</td>
        <td>{{ ref.author }}</td>
        <td>{{ ref.get_ref_type_display }}</td>
        <!-- <td>{{ ref.borrowable }}</td> &#x2705; -->
        {% if ref not in not_available_references%}
          <td><a href="{% url 'library_app:booking' reference_id=ref.id %}" class="btn btn-outline-success btn-sm" role="button">Emprunter</a></td>
        {% else %}
          <td>Non disponible</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}